  /* Import font (FiraGo,NotoSansGeorgian) */
/*   @import url('https://free.bboxtype.com/embedfonts/?family=FiraGO:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i'); */


  @font-face {
    font-family: "NotoSansGeorgian";
    src: url("../fonts/NotoSansGeorgian-Medium") format("ttf"),
      url("../fonts/NotoSansGeorgian-Regular") format("ttf");
  }

  @font-face {
    font-family: "FiraGO";
    src: url("./fonts/FiraGO-Bold") format("woff2"),
      url("./fonts/FiraGO-ExtraBold.woff2") format("woff2"),
      url("./fonts/FiraGO-Regular.woff2") format("woff2"),
      url("./fonts/FiraGO-ExtraBold.woff2") format("woff2"),
      url("./fonts/FiraGO-BookItalic.woff2") format("woff");
  }
  /* Asteriscs */
  * {
    text-decoration: none !important;
    color: #22252B;

  }

  /*HTML, BODY */

  html {
    font-size: 62.5%; // 10px;
    margin: 0 !important;
    padding: 0 !important;
  }

  body {
    font-family: FiraGO !important;
    font-style: Bold !important;
    font-size: 1.6rem;
    background-color: #f1f1f1;
  }

  /* FONTS */
  .font-primary {
    font-family: FiraGO;
  }

  .font-secondary {
    font-family: NotoSansGeorgian;
  }

  /* Paddings & Margins */
  .pl-100 {
    padding-left: 10rem;
  }

  .pl-150 {
    padding-left: 15rem;
  }

  .pl-10 {
    padding-left: 1rem;
  }

  .pb-30 {
    padding-bottom: 3rem;
  }

  .pb-60 {
    padding-bottom: 6rem;
  }

  .pb-90 {
    padding-bottom: 9rem;
  }

  .mb-20 {
    margin-bottom: 2rem;
  }

  .mb-40 {
    margin-bottom: 4rem;
  }

  .mb-70 {
    margin-bottom: 7rem;
  }

  .container-fluid {
    max-width: 1440px!important;
  }

  /* TEXT */

  .normal-size {
    font-size: 1.6rem !important;
  }

  .medium-size {
    font-size: 1.3rem !important;
  }

  .medium-size-1 {
    font-size: 1.2rem !important;
  }

  .small-size {
    font-size: 0.9rem !important;
  }

  .big-size {
    font-size: 2.4rem !important;
    font-weight: 700;
  }

  .large-size {
    font-size: 3.2rem !important;
  }
  
  .big-bold {
    font-size: 3.2rem;
    font-weight: 700;
  }

  /*..............................*/
/* ----------------SCSS -----------------*/
 $font-primary:FiraGo;
 $font-secondary:NotoSansGeorgian;
/* ---------------/SCSS------------------ */

  /* ---------------HEADER----------------------*/
  header {
    border-bottom: 1px solid #EDF3FB;

    @media only screen and (min-width:768px) {
      padding: 1.5rem 0;
    }

    @media only screen and (width:768px) {
      padding:0!important;
    }
  
    .header-phone {
        display: none;
    }

    .header__text {
      font-size: 2rem;

      &--1 {
        font-family: NotoSansGeorgian;
        font-style: Book Italic;
        font-size: 1rem;
      }

      &--3 {
        font-family: NotoSansGeorgian;
        font-weight: bold;
        font-size: 1.2rem;
        border: 1px solid #2B89EE;
        border-radius: 8px;
        color: #2B89EE;
        padding: 0.5rem;
        letter-spacing: 1px;
      }
    }

    .header__icons {
      * {
        margin: 0.5rem;
      }
    }

    .header__images {
      display: flex;
      gap:2rem;
    }

    @media only screen and (max-width: 768px)  {
      .container-fluid {
          background-color: #F9F9F9;
          box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
      }
      header {
          font-family: NotoSansGeorgian;
          border-bottom: none;
      }
  
      .header-desc {
          display: none!important;
      }
  
      .header-phone {
          display: flex!important;
      }
  
      .container-fluid {
          padding: 1.6rem 1.9rem 1.8rem 1.5rem!important;
      }
  }
  }
  /* ---------------/HEADER---------------*/

  /* -----------------CRAFTSMAN PROJECTS----------------*/
    .craftsman-projects {
    @media only screen and (max-width: 768px) {
      display: none;
    }
  }
  /* -----------------/CRAFTSMAN PROJECTS----------------*/
  
  /* -----------------CRAFTSMAN AND HIS CLIENTS-----------------*/
  .craftsman-clients {
    
    display: none!important;

    .container-fluid {
      * {
        display: flex;
        align-items: center;
      }
      .row {
        .col {
          .craftsman-block {
            position: relative;
            margin-right: 1rem;
            margin-left: 0.5rem;
            background-color: #EDF3FB;
            border-radius: 30px;
            padding: 1rem;
            font-family: NotoSansGeorgian;
            
            .cratsfman-icon-subtext {
              position: absolute;
              font-size: 1rem;
              color:#7C7C7D;
              bottom:-2rem;
              left:0.5rem;
            }

            .craftman-icon {
              margin-right: 0.8rem;
            }
            div {
              margin-right: 0.8rem;

              img {
                margin-right: 0.5rem;
              }
              span:first-of-type {
                font-size: 2rem;
                font-weight: bolder;
              }
            }
          }
          .clients-group {
            position: relative;

            @media only screen and (max-width:360px) {
              >img:last-of-type {
                display: none;
              }
            }
            .with-circle{
              &:first-of-type {
                border: 2px solid #BFDBF9;
                border-radius: 50%;
              }
              position: relative;

              .client-2-circle {
               /*  display: none; */
                position: absolute;
                left: -0.5rem;
              }
            }

            .clients-group-subtext {
              position: absolute;
              bottom: -3.5rem;
              left: 3.5rem;
              span {
                &:first-of-type{
                  font-weight: bold;
                  font-size: 1.1rem;
                }
                &:last-of-type{
                  font-size: .9rem!important;
                  font-family: NotoSansGeorgian;
                }
              }
            }
          }
        } 
      }
    }

    @media only screen and (max-width: 768px) {
      display: inline!important;
    }
  }
  /*-----------------/CRAFTSMAN AND HIS CLIENTS-----------------*/

  /* -----------------USER-INFO----------------*/
  .user-info {

    .spec {
      font-size: 9px;
      font-family: NotoSansGeorgian;
    }

    .id {
      background-color: #22252B;
      border-radius: 12px;
      color: #fff;
      font-size: 1.3rem;
      line-height: 1.6rem;
      padding: 1.6rem;
    }

    .upload {
      border: 1px solid #FFEDEE;
      padding: 1.6rem;
      border-radius: 15px;
    }

    .schedule-font {

      :hover {
        background-color: #EDF3FB;
      }

      div {
        padding: 13px;
        border-radius: 1.5rem;
        transition: all .3s;
      }

      >div {
        margin-right: 1.7rem;
      }

      img {
        padding-right: 1rem;
      }

      font-size:1.1rem;
    }

    p {
      font-family: NotoSansGeorgian;
      font-size: 1.6rem;
    }

    .typeOfService {

      span {
        font-family: Helventica;
        font-size: 1.6rem!important;
      }

      span:nth-last-child() {
        background-color: #EDF3fB;
      }

      img {
        padding-right: 1rem;
      }
    }

    .more-service {
      background-color: #EDF3FB;
      border-radius: 10px;
      padding: 1.3rem;
    }

    .location {
      address {
        span {
          font-family: $font-secondary;
          font-size: 1.6rem;
          font-weight: normal!important;
        }
      }
    }

  }
  /* -----------------/USER-INFO----------------*/

  /*-----------------/USER-INFO----------------*/

  /*-------------------SLIDER------------------*/
  .craftsman-portfolio {
    margin-bottom: 4rem;
    .carousel-control-prev-icon {
      position: absolute;
      left:10%!important;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")!important;
    }
    
    .carousel-control-next-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")!important;
      position: absolute;
      right:10%!important
    }
  
    .carousel-indicators {
      left:20%;
    }
    
    .extra-photos {
      position: absolute;
      color:black;
      font-size: inherit;
      left:40%;
      top:60%;
      padding: 8%;
      background-color: #fff;
      border-radius: 10px;
    }

    
  @media only screen and (max-width:1024px) {
    .sl-imgs-big {
      flex-wrap: wrap;
      justify-content: center;
      img {
        max-width: 18rem;
      }
      .sl-imgs-small {
        flex-direction: row!important;
        *:not(:last-child) {
          margin-right: 1rem!important;;
        }
        /* display: none!important; */
        img {
          max-width: 7rem;
          margin-right: 1.5rem;
        }
      }  
    }
    .extra-photos {
      top:50%!important;
      left:30%!important;
      padding: 1%!important;
      border-radius: 5px!important;
    }
  }
  
  @media only screen and (max-width: 768px){
      display: none!important;

    .description {
      min-width: 25rem!important;
    }
  }
  }

  .craftsman-portfolio-mob {
    display: none;

    @media only screen and (max-width: 768px) {
      display: block!important;
      .img-container {
        position: relative!important;
        .user-info-mob {
          position: absolute!important;
          left:0;
          top:20%;
        }
      }
      .fa-star {
        * {
          color:#fff!important;
        }
      }
  
      .extra-photos-mob {  
        top:45%;
        left:25%;
      }
    }
  }
  
 /*-------------------/SLIDER------------------*/

 /* ------------PROFESSION-INFO ---------------*/

.user-profession {
  .row {
    justify-content: center;
  }
  
  @media screen and (min-width:1024px) {
    .col {
      justify-content: center;
    }
  }
  .craftsman {
    display: flex;
    gap: 0.9rem;
    margin-right: 9rem;

    .star-4 {
      display: flex;
      align-items:center;
      font-size: 1.2rem;
      background-color: #F2F2F2;
      border-radius: 8px;
      padding: 0.4rem 0.8rem;
    }

    @media only screen and (max-width:1024px) {
      display: none!important;
    }
  }
  .diagnostic {
    p {
      font-size: 3.2rem;
      
      span:nth-of-type(3){
        display: block;
      }
      span:nth-of-type(4){
       font-size: 1.7rem;
      }
    }

    @media only screen and (max-width:768px) {
      .unic-id {
        bottom:4.8rem;
        left:31rem;
      }
      span {
        font-size:  2.4rem;
      }
      span:nth-of-type(3){
        display: inline!important;
      }
      span:nth-of-type(4){
        font-size: 0.8rem!important;
      }
    }
    @media only screen and (max-width:550px) {
      .unic-id {
        left: 12rem;
      }
    }
    @media only screen and (max-width:360px) {
      p {
        span {
          font-size:1.6rem!important;
        }
      }
     
      .unic-id {
        left: 7.5rem!important;
      }
    }

    @media only screen and (max-width:550px) {
      span:nth-of-type(1) {
        display: block;
      }
    }

    @media only screen and (max-width:468px) {
      /*  margin-right: 11rem; */
       span {
         font-size:  2.2rem;
       }
       span:nth-child(1) {
        display: block;
      }
     }

    @media only screen and (max-width:450px) {
      span {
        font-size:1.8rem!important;
      }
    }

  }
  .unic-id {
    position: relative;
    left: 58rem;
    bottom:10rem;
    background: #22252B;
    border-radius: 12px;
    padding: 1rem;
    color:#fff;

    @media screen and (max-width:468px) {
      left: 10rem!important;
      bottom:4.5rem;
      padding:1rem;
    }
    @media screen and (width:768px) {
      left:0!important;
      top:-.5rem;
      padding: .8rem 1rem;
      border-radius: 8px;
    }
  }
  .share-btn {
      display: inline-block;
      padding: 1.2rem 1.4rem;
      background-color: #ffff;
      border: 1px solid #ffedeee0;
      border-radius: 15px;
      position: relative;
      right: -60rem;
      bottom: 9.8rem;
      
      @media screen and (max-width:768px) {
        left:31rem;
        bottom:4.5rem;
        padding: .8rem 1rem;
        border-radius: 8px;
      }
      @media screen and (width:768px) {
        left:0;
        top:0;
        padding: .4rem 1rem;
        border-radius: 8px;
      }
      @media screen and (max-width:550px) {
        left:0;
        
      }
      @media screen and (max-width:468px) {
        left: -.2rem;
        bottom:4.2rem;
      }
      @media screen and (max-width:360px) {
        left:-3rem;
        bottom:4.2rem;
      }
  }
  .diagnostic__schedule {
    gap:4.5rem;
    margin-bottom: 4rem;
    @media only screen and (max-width:768px) {
      border-bottom:1px solid #D5D5D5!important;
      gap:1rem;
    }
    @media only screen and (width:768px) {
      border-bottom:none!important;
      gap:4rem!important;
    }
    

    span:first-of-type {
      font-family: "NotoSansGeorgian";
      font-weight: normal;
      font-size: 1.1rem!important;
    }

    span:last-of-type {
      font-size: 1.3rem!important;
    }

    .diagnostic__schedule__block {

      padding: 1.8rem 2.2rem 1.4rem 1.6rem;
      transition: all .2s;
      border: 1px solid #E3F4E2;
      border-radius: 15px;
     
      &:hover {
        background-color: #EDF3FB;
      }

      div {
        flex-shrink: 0;
      }

      .clock {
      font-size: 2rem;
      border-radius: 100%;
      margin-right: 1.6rem;
     
      --fa-primary-color: #2B89EE;
      --fa-secondary-color: #C0DBFF;
      --fa-secondary-opacity: 1;
    }

    .coins {
      font-size: 2rem;
      border-radius: 100%;
      margin-right: 1.6rem;
      
      --fa-primary-color: #b5d81b;
      --fa-secondary-color: #C0DBFF;
      --fa-secondary-opacity: 1;
    }
    
    .dollar {
      font-size: 2rem;
      border-radius: 100%;
      margin-right: 1.6rem;
      
      --fa-primary-color: #b5d81b;
      --fa-secondary-color: #C0DBFF;
      --fa-secondary-opacity: 1;
    }
    
    }
    @media only screen and (max-width:768px) {
  
      .diagnostic__schedule__block {
        
        &:nth-child(4) {
          .dollar  {
            display: none;
          }
        }
      }
    }
    @media only screen and (max-width:576px) {
      border:none;
      /* gap:1rem; */
  
      .diagnostic__schedule__block {
        /* padding: 1.8rem 0rem 1.4rem 1.6rem; */
        line-height: 1;
        border:none;
        padding-bottom: 1rem;

        div:last-of-type {
          border-right: 1px solid #D5D5D5;
          border-radius: 2px;
          padding-right: 2rem;
        }
        &:nth-of-type(3) {
          border:none!important; 
          padding-right: 0!important;
          .coin {
            svg {
              margin-right: 0;
            }
          }
          div:last-of-type {
            display: none;
          }
        }
        &:nth-child(4) {
          display: none!important;
        }
      }
    }
  }
  .left-header{
    position: absolute;
    left:3rem;
    font-size: 2.4rem;
    font-weight: bold;
    @media only screen and (max-width:1024px) {
      display: none;
    }
  }
  .problem-report {
    margin-bottom: 6.4rem;
  }
  .user-profession__desc-text {
    margin-bottom: 3rem;
    p {
      font-family: NotoSansGeorgian;
      font-size: 1.6rem!important;
      margin-right: 10rem;
      font-weight: normal;

      @media only screen and (max-width:768px) { 
        font-size: 1.4rem!important;
        margin-right: 0!important;
      }
      @media only screen and (max-width:1024px) { 
        
      }
    }
  }
  .left-header-types {
    position: absolute;
    left:-27.5rem;
    font-size: 2.4rem;
    font-weight: bold;

    @media only screen and (max-width:1024px) {
      display: none;
    }
    @media only screen and (max-width:768px) {
      display: block;
      left:0;
      top:7rem;
      h2 {
        font-size: 1.3rem;
      }
    }
  }
  .service-types {
    /* position: relative; */
    display: flex;
    flex-wrap: wrap!important;
    
    .service-types__group{
      display: flex;
      font-family: Helvetica;
      font-size: 1.6rem;
      flex:1 0 50%;
      gap:14rem;
      div {
        display: flex;
        /* margin-right: auto; */
        font-size:2rem;
        font-weight: normal;
        padding-bottom: 5rem;
        
        svg {
          * {
            color:#b4b4b4;
          }
        }
        span {
          margin-left: 1rem!important;
          font-size: 1.6rem!important;
        }
      }
    }
    @media only screen and (max-width:768px) {
      flex-direction: row!important;
      font-size:1rem;
      
      .service-types__group {
        gap:0;
        div {
          padding-bottom: 3rem;
          span {
            font-size: 1.4rem;
          }
        }
      }
      .service-types__group:first-of-type {
        flex-direction: column!important;
        div {
          margin-right:1rem;
        }
      }
      .service-types__group:last-of-type {
        flex-direction: column;
        align-items:center;
      }
    }
  }
  .service-types-more {
    span {
      display: inline!important;
      font-family: Helvetica;
      font-weight: normal;
      font-size:1.1rem!important;
      background-color:#EDF3FB;
      padding:1rem;
      border-radius: 10px;
    }
    
    @media only screen and (max-width:768px) {
      span {
        font-size:1.1rem!important;
      }
     
    }
    @media only screen and (max-width:1024px) {
      span {
        font-size:1.1rem!important;
      }
    }
  }
  .left-header-address {
    position: relative;
    left:-27.5rem;
    font-size: 2.4rem;
    font-weight: bold;
    top:-3.5rem;

    @media only screen and (max-width:1024px) {
      display: none;
    }
    @media only screen and (max-width:768px) {
      font-size: 2.4rem;
      display: inline!important;
      left:0!important;
      top:-7rem;
    }
  }
  .craftsman__address {
    margin-top: 7rem;
    font-family: $font-secondary;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    position: relative;
    @media only screen and (max-width:1024px) {
      span {
        font-size: 1.4rem;
      }
    }
    @media only screen and (max-width:768px) {
      span:last-of-type {
        display: none;
      }
    }
  }
  .craftsman__address-map {
    margin-bottom: 6.2rem;
    iframe {
      max-width: 100%;
      border-radius: 25px;
      @media only screen and (max-width:768px) {
        border-radius: 20px;
      }
    }
  }
  .estimates-craftsman-mob {
    align-items: center;
    margin-bottom: 3.2rem;
    margin-top: -3.2rem;
    div:first-of-type {
      margin-right: 1.5rem;
      span {
        font-size: 1.8rem;
        margin-right: 1rem;
      }
    }
    div:nth-of-type(2) {
      >span {
        color: #31BD00;
        font-family: $font-secondary;
        font-weight: normal;
        font-size:1.1rem!important;
      }
    }

    @media only screen and (min-width:1024px) {
      display: none!important;
    }
  }
  .user-estimates {
    gap:2rem;
      @media only screen and (max-width:576px) {
      justify-content: center;
    }
    @media only screen and (max-width:360px) {
      gap:1rem;

      .clock, .stars {
        margin:1.2rem 3.5rem 1.2rem 3.5rem!important;
      }
    }
    .left-header-estimates {
      position: absolute;
      left:-27.5rem;
      font-size: 2.4rem;
      h2 {
        font-weight: bold!important;
      }
      
      @media only screen and (max-width:1024px) {
        display: none;
      }
    }

    .left-header-estimates-craftsman {
      position: absolute;
      top:5rem;
      left:-28rem;
    }

    .user-estimates__icon-block {
      &:hover {
        background-color: #F8EBC2;
      }
      @media only screen and (max-width:767px) {
        &:nth-of-type(6) {
          display: none!important;
        }
      }
      @media only screen and (max-width:575px) {
        &:nth-of-type(5) {
          display: none!important;
        }
      }

      transition: .3s;
      background-color:#FFFFFF;
      border-radius: 25px;
      -webkit-box-shadow: 10px 7px 44px -27px rgba(0,0,0,0.83);
      -moz-box-shadow: 10px 7px 44px -27px rgba(0,0,0,0.83);
      box-shadow: 1px 0px 40px -27px rgba(0,0,0,0.83);
      .user-estimates__icon-block-estimates {
        font-size:.9rem!important;
        padding:1.3rem;
        border-radius: 1rem;
        background-color:white;
        margin-bottom: 1.7rem;  
      }

      .estimates-span-3 {
        display:flex;
        align-items: center;
        span:first-of-type {
          font-style: normal;
          font-weight: bold;
          font-size: 1.6rem!important;
        }
        span:nth-of-type(2) {
          color: #A7A8AA;
          font-family: Lucida Grande!important;
          font-weight: normal;
          font-size: 1.3rem!important;
          margin-right: .4rem;
        }
        span:nth-of-type(3) {
          color:blue;
          font-family: $font-secondary;
          font-style: normal;
          font-weight: normal;
          font-size: .9rem!important;
          color: #909194;
        }
      }
      div:first-child{
        background-color:#FFFFFF;
        padding: 1.25rem 2rem;
        margin: 1.8rem 4.5rem 1.2rem 4.5rem;
        border-radius: 50%;
        font-size: 3rem;
        --fa-primary-color: #FFDF77;
        --fa-secondary-color: #FFEDB2;
        --fa-secondary-opacity: 1;
      }
      div:nth-of-type(2) {
        padding-bottom: .9rem;
          svg {
            font-size: 1.6rem;
            margin-left: 2.9rem;
          }
        span:first-of-type {
          font-size: 2.4rem;
          margin-right: 1rem;
        }
        span:nth-of-type(2) {
          font-size: 0.9rem!important;
          padding-right: 2.9rem;
        }
      }
      .clock {
        background-color: #90B4E5!important;
        --fa-secondary-color: white!important;
        --fa-primary-color: #90B4E5!important;
      }
      .shield {
        background-color: #96DC7B!important;
        --fa-primary-color: #96DC7B!important;
        --fa-secondary-color: #ffffff!important;
      }
      .hands {
        background-color: #FFAB61!important;
        --fa-primary-color: #ffffff!important;
        --fa-secondary-color: #FFEEDF!important;
      }
      .clock-text{
        font-size: 1.3rem!important;
        text-align: center;
        margin-right: 0!important;
      }
    }
  }
  .sim-cat {
    display: flex;
    flex-wrap: wrap;
    gap:.8rem;
    padding-top: 8.7rem;
    max-width: 90%;

    @media only screen and (max-width:425px) {
      gap:2rem!important;
    }
    .left-header-sim {
      position: absolute;
      left:-27.5rem;
      font-size: 2.4rem;
      font-weight: bold;
      :last-of-type {
        display: none!important;
      }
      @media only screen and (max-width:1024px) {
        :first-of-type {
          display: none;
        }
        :last-of-type {
          display: inline!important;
          font-weight: bold;
        }
        left:0;
        top:3rem;
        h2 {
          font-size: 1.3rem;
        }
      }
    }
    @media only screen and (max-width:576px) {
      gap:.4rem;
      max-width: 100%;
    }

    div:not(:first-of-type) {
      border: 1px solid #BDD9FF;
      border-radius: 1rem;
      padding: 1.3rem 1.6rem;
      transition: .3s;
      span {
        font-size: 1.1rem!important;
      }
      &:hover {
        background-color: aqua;
      }
    }


    @media only screen and (max-width:768px) {
      div:nth-of-type(9){
        display: none;
       }
       div:nth-of-type(8){
        order:3;
       }
       div:nth-of-type(6){
        order:2;
       }
       div:nth-of-type(5){
        order:4;
       }
       div:nth-of-type(4){
        order:6;
       }
       div:nth-of-type(3){
        order:5;
       }
       div:nth-of-type(2){
        order:1;
       }
    
    }
    @media only screen and (max-width:576px) {
      div:nth-of-type(7){
        display: none;
       }
    }
    
  }
  
  
}
footer {
  display: flex!important;
  margin-bottom:7rem;
  justify-content: center;
  position: sticky;
  bottom:0;
  @media screen and (max-width:600px) {
    margin-bottom:26.5rem;
  }
  .sticky-chat {
    background-color:rgb(255, 255, 255);
    border-radius: 20px;
    padding:1.8rem 0 1.8rem 0;
    margin-top: 6.5rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
   
    @media only screen and (max-width:350px) {
      * {
        font-size:1rem!important;
      }
    }
    
    div:first-child {
      img:first-of-type {
        padding-right:1rem;
        margin-left: 2rem;

        @media only screen and (max-width:600px) {
          display: none;
        }
      }
    }
    >div:nth-child(2) {
      @media only screen and (max-width:600px) {
        padding-left: 1.6rem;
      }
      
      >span {
        padding-right:2.4rem;
        font-weight: bold;
        font-size: 1.6rem;

        @media only screen and (max-width:600px) {
          font-size:1.3rem;
        }
      }
      div {
        span {
          font-size:1.3rem;
          font-weight: bold;
        }
      }
    }
    >div:nth-child(3) {
      flex-direction: column;
      >span {
        font-family: $font-secondary;
        font-size: 1.1rem!important;
        font-weight: normal;
        padding-right:3.9rem;
      }
      div {
        span {
          font-size: 1.2rem;
        }
      }

      @media only screen and (max-width:600px) {
        position: absolute;
        flex-direction: row;
        left:5.5rem;
        top:4rem;
        >span{
          padding-right:.5rem!important;
        }
       
      }
    }
    >div:nth-child(4) {
      background: #E9F3FD;
      border-radius: 10px;
      padding: 1.3rem 2.3rem 1.2rem 2.3rem;
      margin-right: .8rem;

      @media only screen and (max-width:600px) {
        padding: 1.1rem 1.6rem 1.2rem 1.6rem;
      }
  
      i {
        padding-right: 4rem;
      }
      svg {
        font-size: 1.6rem;
      }
      >span {
        font-size: 1.3rem;
        font-family: Lucida Grande;
        font-style: normal;
        font-weight: bold;
        padding-left: .4rem;
      }
      span:last-of-type {
        font-weight: bold;
      }
      @media only screen and (max-width:600px) {
        span:nth-of-type(2) {
          display: none;
        }
      }
    }
    >div:nth-child(5) {
     position: relative;
      span:first-of-type {
        &::before {
          content: 'ჩატის დახურვა';

          @media only screen and (max-width:600px) {
            display: none;
          }
        }
        &::after {
          content: 'ჩატი';
          position: relative;
          display: none;
          @media only screen and (max-width:600px) {
            display: inline;
          }
        }
        font-family: $font-secondary;
        font-size: 1.3rem!important;
        font-weight: normal;
        position: relative;
        padding:1.2rem 1.2rem 1.4rem 1.3rem;
        color: #FFFFFF;
        background-color: #017BFF;
        border-radius: 10px;
        margin-right: 2rem;
      }
      span:last-of-type {
        position: absolute;
        background-color:#EF5C2E;
        font-size: .8rem!important;
        color:#FFFFFF;
        padding: 2px 7px 2px 7px;
        top: -1.5rem;
        left: 11rem;
        border-radius: 50px;
        box-shadow: 0px 0px 0px 4px rgba(255,255,255,1);

        @media only screen and (max-width:600px) {
          left:4rem;
        }
       }
    }
  }
}

