@charset "UTF-8";
/* Import font (FiraGo,NotoSansGeorgian) */
@import url("https://free.bboxtype.com/embedfonts/?family=FiraGO:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@font-face {
  font-family: "NotoSansGeorgian";
  src: url("/fonts/NotoSansGeorgian-Medium") format("ttf"), url("/fonts/NotoSansGeorgian-Regular") format("ttf");
}

/* Asteriscs */
* {
  text-decoration: none !important;
  color: #22252B;
}

/*HTML, BODY */
html {
  font-size: 62.5%;
  margin: 0 !important;
  padding: 0 !important;
}

body {
  font-family: FiraGO !important;
  font-style: Bold !important;
  font-size: 1.6rem;
  background-color: #f1f1f1;
}

/* FONTS */
.font-primary {
  font-family: FiraGO;
}

.font-secondary {
  font-family: NotoSansGeorgian;
}

/* Paddings & Margins */
.pl-100 {
  padding-left: 10rem;
}

.pl-150 {
  padding-left: 15rem;
}

.pl-10 {
  padding-left: 1rem;
}

.pb-30 {
  padding-bottom: 3rem;
}

.pb-60 {
  padding-bottom: 6rem;
}

.pb-90 {
  padding-bottom: 9rem;
}

.mb-20 {
  margin-bottom: 2rem;
}

.mb-40 {
  margin-bottom: 4rem;
}

.mb-70 {
  margin-bottom: 7rem;
}

/* 
  @media only screen and (min-width: 768px) {
    .container, .container-md, .container-sm {
      max-width: none!important;
  }
  } */
.container-fluid {
  max-width: 1440px !important;
}

/* TEXT */
.normal-size {
  font-size: 1.6rem !important;
}

.medium-size {
  font-size: 1.3rem !important;
}

.medium-size-1 {
  font-size: 1.2rem !important;
}

.small-size {
  font-size: 0.9rem !important;
}

.big-size {
  font-size: 2.4rem !important;
  font-weight: 700;
}

.large-size {
  font-size: 3.2rem !important;
}

.big-bold {
  font-size: 3.2rem;
  font-weight: 700;
}

/*..............................*/
/* ----------------SCSS -----------------*/
/* ---------------/SCSS------------------ */
/* ---------------HEADER----------------------*/
header {
  border-bottom: 1px solid #EDF3FB;
}

@media only screen and (min-width: 768px) {
  header {
    padding: 1.5rem 0;
  }
}

@media only screen and (width: 768px) {
  header {
    padding: 0 !important;
  }
}

header .header-phone {
  display: none;
}

header .header__text {
  font-size: 2rem;
}

header .header__text--1 {
  font-family: FiraGO;
  font-style: Book Italic;
  font-size: 1rem;
}

header .header__text--3 {
  font-family: NotoSansGeorgian;
  font-weight: bold;
  font-size: 1.2rem;
  border: 1px solid #2B89EE;
  border-radius: 8px;
  color: #2B89EE;
  padding: 0.5rem;
  letter-spacing: 1px;
}

header .header__icons * {
  margin: 0.5rem;
}

header .header__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

@media only screen and (max-width: 768px) {
  header .container-fluid {
    background-color: #F9F9F9;
    -webkit-box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
  }
  header header {
    font-family: NotoSansGeorgian;
    border-bottom: none;
  }
  header .header-desc {
    display: none !important;
  }
  header .header-phone {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  header .container-fluid {
    padding: 1.6rem 1.9rem 1.8rem 1.5rem !important;
  }
}

/* ---------------/HEADER---------------*/
/* -----------------CRAFTSMAN PROJECTS----------------*/
@media only screen and (max-width: 768px) {
  .craftsman-projects {
    display: none;
  }
}

/* -----------------/CRAFTSMAN PROJECTS----------------*/
/* -----------------CRAFTSMAN AND HIS CLIENTS-----------------*/
.craftsman-clients {
  display: none !important;
}

.craftsman-clients .container-fluid * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.craftsman-clients .container-fluid .row .col .craftsman-block {
  position: relative;
  margin-right: 1rem;
  margin-left: 0.5rem;
  background-color: #EDF3FB;
  border-radius: 30px;
  padding: 1rem;
  font-family: NotoSansGeorgian;
}

.craftsman-clients .container-fluid .row .col .craftsman-block .cratsfman-icon-subtext {
  position: absolute;
  font-size: 1rem;
  color: #7C7C7D;
  bottom: -2rem;
  left: 0.5rem;
}

.craftsman-clients .container-fluid .row .col .craftsman-block .craftman-icon {
  margin-right: 0.8rem;
}

.craftsman-clients .container-fluid .row .col .craftsman-block div {
  margin-right: 0.8rem;
}

.craftsman-clients .container-fluid .row .col .craftsman-block div img {
  margin-right: 0.5rem;
}

.craftsman-clients .container-fluid .row .col .craftsman-block div span:first-of-type {
  font-size: 2rem;
  font-weight: bolder;
}

.craftsman-clients .container-fluid .row .col .clients-group {
  position: relative;
}

.craftsman-clients .container-fluid .row .col .clients-group .with-circle {
  position: relative;
}

.craftsman-clients .container-fluid .row .col .clients-group .with-circle:first-of-type {
  border: 2px solid #BFDBF9;
  border-radius: 50%;
}

.craftsman-clients .container-fluid .row .col .clients-group .with-circle .client-2-circle {
  /*  display: none; */
  position: absolute;
  left: -0.5rem;
}

.craftsman-clients .container-fluid .row .col .clients-group .clients-group-subtext {
  position: absolute;
  bottom: -3.5rem;
  left: 3.5rem;
}

.craftsman-clients .container-fluid .row .col .clients-group .clients-group-subtext span:first-of-type {
  font-weight: bold;
  font-size: 1.1rem;
}

.craftsman-clients .container-fluid .row .col .clients-group .clients-group-subtext span:last-of-type {
  font-size: 0.9rem !important;
  font-family: NotoSansGeorgian;
}

@media only screen and (max-width: 768px) {
  .craftsman-clients {
    display: inline !important;
  }
}

/*-----------------/CRAFTSMAN AND HIS CLIENTS-----------------*/
/* -----------------USER-INFO----------------*/
.user-info .spec {
  font-size: 9px;
  font-family: NotoSansGeorgian;
}

.user-info .id {
  background-color: #22252B;
  border-radius: 12px;
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.6rem;
  padding: 1.6rem;
}

.user-info .upload {
  border: 1px solid #FFEDEE;
  padding: 1.6rem;
  border-radius: 15px;
}

.user-info .schedule-font {
  font-size: 1.1rem;
}

.user-info .schedule-font :hover {
  background-color: #EDF3FB;
}

.user-info .schedule-font div {
  padding: 13px;
  border-radius: 1.5rem;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.user-info .schedule-font > div {
  margin-right: 1.7rem;
}

.user-info .schedule-font img {
  padding-right: 1rem;
}

.user-info p {
  font-family: NotoSansGeorgian;
  font-size: 1.6rem;
}

.user-info .typeOfService span {
  font-family: Helventica;
  font-size: 1.6rem !important;
}

.user-info .typeOfService span:nth-last-child() {
  background-color: #EDF3fB;
}

.user-info .typeOfService img {
  padding-right: 1rem;
}

.user-info .more-service {
  background-color: #EDF3FB;
  border-radius: 10px;
  padding: 1.3rem;
}

.user-info .location address span {
  font-family: NotoSansGeorgian;
  font-size: 1.6rem;
  font-weight: normal !important;
}

/* -----------------/USER-INFO----------------*/
/*-----------------/USER-INFO----------------*/
/*-------------------SLIDER------------------*/
.craftsman-portfolio {
  margin-bottom: 4rem;
}

.craftsman-portfolio .carousel-control-prev-icon {
  position: absolute;
  left: 10% !important;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.craftsman-portfolio .carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
  position: absolute;
  right: 10% !important;
}

.craftsman-portfolio .carousel-indicators {
  left: 20%;
}

.craftsman-portfolio .extra-photos {
  position: absolute;
  color: black;
  font-size: inherit;
  left: 40%;
  top: 60%;
  padding: 8%;
  background-color: #fff;
  border-radius: 10px;
}

@media only screen and (max-width: 1024px) {
  .craftsman-portfolio .sl-imgs-big {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .craftsman-portfolio .sl-imgs-big img {
    max-width: 18rem;
  }
  .craftsman-portfolio .sl-imgs-big .sl-imgs-small {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    /* display: none!important; */
  }
  .craftsman-portfolio .sl-imgs-big .sl-imgs-small *:not(:last-child) {
    margin-right: 1rem !important;
  }
  .craftsman-portfolio .sl-imgs-big .sl-imgs-small img {
    max-width: 7rem;
    margin-right: 1.5rem;
  }
  .craftsman-portfolio .extra-photos {
    top: 50% !important;
    left: 30% !important;
    padding: 1% !important;
    border-radius: 5px !important;
  }
}

@media only screen and (max-width: 768px) {
  .craftsman-portfolio {
    display: none !important;
  }
  .craftsman-portfolio .description {
    min-width: 25rem !important;
  }
}

.craftsman-portfolio-mob {
  display: none;
}

@media only screen and (max-width: 768px) {
  .craftsman-portfolio-mob {
    display: block !important;
  }
  .craftsman-portfolio-mob .img-container {
    position: relative !important;
  }
  .craftsman-portfolio-mob .img-container .user-info-mob {
    position: absolute !important;
    left: 0;
    top: 20%;
  }
  .craftsman-portfolio-mob .fa-star * {
    color: #fff !important;
  }
  .craftsman-portfolio-mob .extra-photos-mob {
    top: 45%;
    left: 25%;
  }
}

/*-------------------/SLIDER------------------*/
/* ------------PROFESSION-INFO ---------------*/
.user-profession .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1024px) {
  .user-profession .col {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.user-profession .craftsman {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9rem;
  margin-right: 9rem;
}

.user-profession .craftsman .star-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  background-color: #F2F2F2;
  border-radius: 8px;
  padding: 0.4rem 0.8rem;
}

@media only screen and (max-width: 1024px) {
  .user-profession .craftsman {
    display: none !important;
  }
}

.user-profession .diagnostic p {
  font-size: 3.2rem;
}

.user-profession .diagnostic p span:nth-of-type(3) {
  display: block;
}

.user-profession .diagnostic p span:nth-of-type(4) {
  font-size: 1.7rem;
}

@media only screen and (max-width: 768px) {
  .user-profession .diagnostic .unic-id {
    bottom: 4.8rem;
    left: 31rem;
  }
  .user-profession .diagnostic span {
    font-size: 2.4rem;
  }
  .user-profession .diagnostic span:nth-of-type(3) {
    display: inline !important;
  }
  .user-profession .diagnostic span:nth-of-type(4) {
    font-size: 0.8rem !important;
  }
}

@media only screen and (max-width: 550px) {
  .user-profession .diagnostic .unic-id {
    left: 12rem;
  }
}

@media only screen and (max-width: 550px) {
  .user-profession .diagnostic span:nth-of-type(1) {
    display: block;
  }
}

@media only screen and (max-width: 468px) {
  .user-profession .diagnostic {
    /*  margin-right: 11rem; */
  }
  .user-profession .diagnostic span {
    font-size: 2.2rem;
  }
  .user-profession .diagnostic span:nth-child(1) {
    display: block;
  }
}

@media only screen and (max-width: 450px) {
  .user-profession .diagnostic span {
    font-size: 1.8rem !important;
  }
}

.user-profession .unic-id {
  position: relative;
  left: 58rem;
  bottom: 10rem;
  background: #22252B;
  border-radius: 12px;
  padding: 1rem;
  color: #fff;
}

@media screen and (max-width: 468px) {
  .user-profession .unic-id {
    left: 10rem !important;
    bottom: 4.5rem;
    padding: 1rem;
  }
}

@media screen and (width: 768px) {
  .user-profession .unic-id {
    left: 0 !important;
    top: -.5rem;
    padding: .8rem 1rem;
    border-radius: 8px;
  }
}

.user-profession .share-btn {
  display: inline-block;
  padding: 1.2rem 1.4rem;
  background-color: #ffff;
  border: 1px solid #ffedeee0;
  border-radius: 15px;
  position: relative;
  right: -60rem;
  bottom: 9.8rem;
}

@media screen and (max-width: 768px) {
  .user-profession .share-btn {
    left: 31rem;
    bottom: 4.5rem;
    padding: .8rem 1rem;
    border-radius: 8px;
  }
}

@media screen and (width: 768px) {
  .user-profession .share-btn {
    left: 0;
    top: 0;
    padding: .4rem 1rem;
    border-radius: 8px;
  }
}

@media screen and (max-width: 550px) {
  .user-profession .share-btn {
    left: 0;
  }
}

@media screen and (max-width: 468px) {
  .user-profession .share-btn {
    left: -.2rem;
    bottom: 4.2rem;
  }
}

.user-profession .diagnostic__schedule {
  gap: 4.5rem;
  margin-bottom: 4rem;
}

@media only screen and (max-width: 768px) {
  .user-profession .diagnostic__schedule {
    border-bottom: 1px solid #D5D5D5 !important;
    gap: 1rem;
  }
}

@media only screen and (width: 768px) {
  .user-profession .diagnostic__schedule {
    border-bottom: none !important;
    gap: 4rem !important;
  }
}

.user-profession .diagnostic__schedule span:first-of-type {
  font-family: "NotoSansGeorgian";
  font-weight: normal;
  font-size: 1.1rem !important;
}

.user-profession .diagnostic__schedule span:last-of-type {
  font-size: 1.3rem !important;
}

.user-profession .diagnostic__schedule .diagnostic__schedule__block {
  padding: 1.8rem 2.2rem 1.4rem 1.6rem;
  -webkit-transition: all .2s;
  transition: all .2s;
  border: 1px solid #E3F4E2;
  border-radius: 15px;
}

.user-profession .diagnostic__schedule .diagnostic__schedule__block:hover {
  background-color: #EDF3FB;
}

.user-profession .diagnostic__schedule .diagnostic__schedule__block div {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.user-profession .diagnostic__schedule .diagnostic__schedule__block .clock {
  font-size: 2rem;
  border-radius: 100%;
  margin-right: 1.6rem;
  --fa-primary-color: #2B89EE;
  --fa-secondary-color: #C0DBFF;
  --fa-secondary-opacity: 1;
}

.user-profession .diagnostic__schedule .diagnostic__schedule__block .coins {
  font-size: 2rem;
  border-radius: 100%;
  margin-right: 1.6rem;
  --fa-primary-color: #b5d81b;
  --fa-secondary-color: #C0DBFF;
  --fa-secondary-opacity: 1;
}

.user-profession .diagnostic__schedule .diagnostic__schedule__block .dollar {
  font-size: 2rem;
  border-radius: 100%;
  margin-right: 1.6rem;
  --fa-primary-color: #b5d81b;
  --fa-secondary-color: #C0DBFF;
  --fa-secondary-opacity: 1;
}

@media only screen and (max-width: 768px) {
  .user-profession .diagnostic__schedule .diagnostic__schedule__block:nth-child(4) .dollar {
    display: none;
  }
}

@media only screen and (max-width: 576px) {
  .user-profession .diagnostic__schedule {
    border: none;
    /* gap:1rem; */
  }
  .user-profession .diagnostic__schedule .diagnostic__schedule__block {
    /* padding: 1.8rem 0rem 1.4rem 1.6rem; */
    line-height: 1;
    border: none;
    padding-bottom: 1rem;
  }
  .user-profession .diagnostic__schedule .diagnostic__schedule__block div:last-of-type {
    border-right: 1px solid #D5D5D5;
    border-radius: 2px;
    padding-right: 2rem;
  }
  .user-profession .diagnostic__schedule .diagnostic__schedule__block:nth-of-type(3) {
    border: none !important;
    padding-right: 0 !important;
  }
  .user-profession .diagnostic__schedule .diagnostic__schedule__block:nth-of-type(3) .coin svg {
    margin-right: 0;
  }
  .user-profession .diagnostic__schedule .diagnostic__schedule__block:nth-of-type(3) div:last-of-type {
    display: none;
  }
  .user-profession .diagnostic__schedule .diagnostic__schedule__block:nth-child(4) {
    display: none !important;
  }
}

.user-profession .left-header {
  position: absolute;
  left: 3rem;
  font-size: 2.4rem;
  font-weight: bold;
}

@media only screen and (max-width: 1024px) {
  .user-profession .left-header {
    display: none;
  }
}

.user-profession .problem-report {
  margin-bottom: 6.4rem;
}

.user-profession .user-profession__desc-text {
  margin-bottom: 3rem;
}

.user-profession .user-profession__desc-text p {
  font-family: NotoSansGeorgian;
  font-size: 1.6rem !important;
  margin-right: 10rem;
  font-weight: normal;
}

@media only screen and (max-width: 768px) {
  .user-profession .user-profession__desc-text p {
    font-size: 1.4rem !important;
    margin-right: 0 !important;
  }
}

.user-profession .left-header-types {
  position: absolute;
  left: -27.5rem;
  font-size: 2.4rem;
  font-weight: bold;
}

@media only screen and (max-width: 1024px) {
  .user-profession .left-header-types {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .user-profession .left-header-types {
    display: block;
    left: 0;
    top: 7rem;
  }
  .user-profession .left-header-types h2 {
    font-size: 1.3rem;
  }
}

.user-profession .service-types {
  /* position: relative; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important;
}

.user-profession .service-types .service-types__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Helvetica;
  font-size: 1.6rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  gap: 14rem;
}

.user-profession .service-types .service-types__group div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* margin-right: auto; */
  font-size: 2rem;
  font-weight: normal;
  padding-bottom: 5rem;
}

.user-profession .service-types .service-types__group div svg * {
  color: #b4b4b4;
}

.user-profession .service-types .service-types__group div span {
  margin-left: 1rem !important;
  font-size: 1.6rem !important;
}

@media only screen and (max-width: 768px) {
  .user-profession .service-types {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    font-size: 1rem;
  }
  .user-profession .service-types .service-types__group {
    gap: 0;
  }
  .user-profession .service-types .service-types__group div {
    padding-bottom: 3rem;
  }
  .user-profession .service-types .service-types__group div span {
    font-size: 1.4rem;
  }
  .user-profession .service-types .service-types__group:first-of-type {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .user-profession .service-types .service-types__group:first-of-type div {
    margin-right: 1rem;
  }
  .user-profession .service-types .service-types__group:last-of-type {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.user-profession .service-types-more span {
  display: inline !important;
  font-family: Helvetica;
  font-weight: normal;
  font-size: 1.1rem !important;
  background-color: #EDF3FB;
  padding: 1rem;
  border-radius: 10px;
}

@media only screen and (max-width: 768px) {
  .user-profession .service-types-more span {
    font-size: 1.1rem !important;
  }
}

@media only screen and (max-width: 1024px) {
  .user-profession .service-types-more span {
    font-size: 1.1rem !important;
  }
}

.user-profession .left-header-address {
  position: relative;
  left: -27.5rem;
  font-size: 2.4rem;
  font-weight: bold;
  top: -3.5rem;
}

@media only screen and (max-width: 1024px) {
  .user-profession .left-header-address {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .user-profession .left-header-address {
    font-size: 2.4rem;
    display: inline !important;
    left: 0 !important;
    top: -7rem;
  }
}

.user-profession .craftsman__address {
  margin-top: 7rem;
  font-family: NotoSansGeorgian;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  position: relative;
}

@media only screen and (max-width: 1024px) {
  .user-profession .craftsman__address span {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 768px) {
  .user-profession .craftsman__address span:last-of-type {
    display: none;
  }
}

.user-profession .craftsman__address-map {
  margin-bottom: 6.2rem;
}

.user-profession .craftsman__address-map iframe {
  max-width: 100%;
  border-radius: 25px;
}

@media only screen and (max-width: 768px) {
  .user-profession .craftsman__address-map iframe {
    border-radius: 20px;
  }
}

.user-profession .estimates-craftsman-mob {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3.2rem;
  margin-top: -3.2rem;
}

.user-profession .estimates-craftsman-mob div:first-of-type {
  margin-right: 1.5rem;
}

.user-profession .estimates-craftsman-mob div:first-of-type span {
  font-size: 1.8rem;
  margin-right: 1rem;
}

.user-profession .estimates-craftsman-mob div:nth-of-type(2) > span {
  color: #31BD00;
  font-family: NotoSansGeorgian;
  font-weight: normal;
  font-size: 1.1rem !important;
}

@media only screen and (min-width: 1024px) {
  .user-profession .estimates-craftsman-mob {
    display: none !important;
  }
}

.user-profession .user-estimates {
  gap: 2rem;
}

@media only screen and (max-width: 576px) {
  .user-profession .user-estimates {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.user-profession .user-estimates .left-header-estimates {
  position: absolute;
  left: -27.5rem;
  font-size: 2.4rem;
}

.user-profession .user-estimates .left-header-estimates h2 {
  font-weight: bold !important;
}

@media only screen and (max-width: 1024px) {
  .user-profession .user-estimates .left-header-estimates {
    display: none;
  }
}

.user-profession .user-estimates .left-header-estimates-craftsman {
  position: absolute;
  top: 5rem;
  left: -28rem;
}

.user-profession .user-estimates .user-estimates__icon-block {
  -webkit-transition: .3s;
  transition: .3s;
  background-color: #FFFFFF;
  border-radius: 25px;
  -webkit-box-shadow: 10px 7px 44px -27px rgba(0, 0, 0, 0.83);
  box-shadow: 1px 0px 40px -27px rgba(0, 0, 0, 0.83);
}

.user-profession .user-estimates .user-estimates__icon-block:hover {
  background-color: #F8EBC2;
}

@media only screen and (max-width: 767px) {
  .user-profession .user-estimates .user-estimates__icon-block:nth-of-type(6) {
    display: none !important;
  }
}

@media only screen and (max-width: 575px) {
  .user-profession .user-estimates .user-estimates__icon-block:nth-of-type(5) {
    display: none !important;
  }
}

.user-profession .user-estimates .user-estimates__icon-block .user-estimates__icon-block-estimates {
  font-size: 0.9rem !important;
  padding: 1.3rem;
  border-radius: 1rem;
  background-color: white;
  margin-bottom: 1.7rem;
}

.user-profession .user-estimates .user-estimates__icon-block .estimates-span-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-profession .user-estimates .user-estimates__icon-block .estimates-span-3 span:first-of-type {
  font-style: normal;
  font-weight: bold;
  font-size: 1.6rem !important;
}

.user-profession .user-estimates .user-estimates__icon-block .estimates-span-3 span:nth-of-type(2) {
  color: #A7A8AA;
  font-weight: normal;
  font-size: 1.3rem !important;
  margin-right: .4rem;
}

.user-profession .user-estimates .user-estimates__icon-block .estimates-span-3 span:nth-of-type(3) {
  color: blue;
  font-family: NotoSansGeorgian;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9rem !important;
  color: #909194;
}

.user-profession .user-estimates .user-estimates__icon-block div:first-child {
  background-color: #FFFFFF;
  padding: 1.25rem 2rem;
  margin: 1.8rem 4.5rem 1.2rem 4.5rem;
  border-radius: 50%;
  font-size: 3rem;
  --fa-primary-color: #FFDF77;
  --fa-secondary-color: #FFEDB2;
  --fa-secondary-opacity: 1;
}

.user-profession .user-estimates .user-estimates__icon-block div:nth-of-type(2) {
  padding-bottom: .9rem;
}

.user-profession .user-estimates .user-estimates__icon-block div:nth-of-type(2) svg {
  font-size: 1.6rem;
  margin-left: 2.9rem;
}

.user-profession .user-estimates .user-estimates__icon-block div:nth-of-type(2) span:first-of-type {
  font-size: 2.4rem;
  margin-right: 1rem;
}

.user-profession .user-estimates .user-estimates__icon-block div:nth-of-type(2) span:nth-of-type(2) {
  font-size: 0.9rem !important;
  padding-right: 2.9rem;
}

.user-profession .user-estimates .user-estimates__icon-block .clock {
  background-color: #90B4E5 !important;
  --fa-secondary-color: white!important;
  --fa-primary-color: #90B4E5!important;
}

.user-profession .user-estimates .user-estimates__icon-block .shield {
  background-color: #96DC7B !important;
  --fa-primary-color: #96DC7B!important;
  --fa-secondary-color: #ffffff!important;
}

.user-profession .user-estimates .user-estimates__icon-block .hands {
  background-color: #FFAB61 !important;
  --fa-primary-color: #ffffff!important;
  --fa-secondary-color: #FFEEDF!important;
}

.user-profession .user-estimates .user-estimates__icon-block .clock-text {
  font-size: 1.3rem !important;
  text-align: center;
  margin-right: 0 !important;
}

.user-profession .sim-cat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: .8rem;
  padding-top: 8.7rem;
  max-width: 90%;
}

.user-profession .sim-cat .left-header-sim {
  position: absolute;
  left: -27.5rem;
  font-size: 2.4rem;
  font-weight: bold;
}

.user-profession .sim-cat .left-header-sim :last-of-type {
  display: none !important;
}

@media only screen and (max-width: 1024px) {
  .user-profession .sim-cat .left-header-sim {
    left: 0;
    top: 3rem;
  }
  .user-profession .sim-cat .left-header-sim :first-of-type {
    display: none;
  }
  .user-profession .sim-cat .left-header-sim :last-of-type {
    display: inline !important;
    font-weight: bold;
  }
  .user-profession .sim-cat .left-header-sim h2 {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 576px) {
  .user-profession .sim-cat {
    gap: .4rem;
    max-width: 100%;
  }
}

.user-profession .sim-cat div:not(:first-of-type) {
  border: 1px solid #BDD9FF;
  border-radius: 1rem;
  padding: 1.3rem 1.6rem;
  -webkit-transition: .3s;
  transition: .3s;
}

.user-profession .sim-cat div:not(:first-of-type) span {
  font-size: 1.1rem !important;
}

.user-profession .sim-cat div:not(:first-of-type):hover {
  background-color: aqua;
}

@media only screen and (max-width: 768px) {
  .user-profession .sim-cat div:nth-of-type(9) {
    display: none;
  }
  .user-profession .sim-cat div:nth-of-type(8) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .user-profession .sim-cat div:nth-of-type(6) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .user-profession .sim-cat div:nth-of-type(5) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .user-profession .sim-cat div:nth-of-type(4) {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .user-profession .sim-cat div:nth-of-type(3) {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .user-profession .sim-cat div:nth-of-type(2) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media only screen and (max-width: 576px) {
  .user-profession .sim-cat div:nth-of-type(7) {
    display: none;
  }
}

footer {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  margin-bottom: 7rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}

@media screen and (max-width: 600px) {
  footer {
    margin-bottom: 26.5rem;
  }
}

footer .sticky-chat {
  background-color: white;
  border-radius: 20px;
  padding: 1.8rem 0 1.8rem 0;
  margin-top: 6.5rem;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media only screen and (max-width: 350px) {
  footer .sticky-chat * {
    font-size: 1rem !important;
  }
}

footer .sticky-chat div:first-child img:first-of-type {
  padding-right: 1rem;
  margin-left: 2rem;
}

@media only screen and (max-width: 600px) {
  footer .sticky-chat div:first-child img:first-of-type {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  footer .sticky-chat > div:nth-child(2) {
    padding-left: 1.6rem;
  }
}

footer .sticky-chat > div:nth-child(2) > span {
  padding-right: 2.4rem;
  font-weight: bold;
  font-size: 1.6rem;
}

@media only screen and (max-width: 600px) {
  footer .sticky-chat > div:nth-child(2) > span {
    font-size: 1.3rem;
  }
}

footer .sticky-chat > div:nth-child(2) div span {
  font-size: 1.3rem;
  font-weight: bold;
}

footer .sticky-chat > div:nth-child(3) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .sticky-chat > div:nth-child(3) > span {
  font-family: NotoSansGeorgian;
  font-size: 1.1rem !important;
  font-weight: normal;
  padding-right: 3.9rem;
}

footer .sticky-chat > div:nth-child(3) div span {
  font-size: 1.2rem;
}

@media only screen and (max-width: 600px) {
  footer .sticky-chat > div:nth-child(3) {
    position: absolute;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    left: 5.5rem;
    top: 4rem;
  }
  footer .sticky-chat > div:nth-child(3) > span {
    padding-right: 0.5rem !important;
  }
}

footer .sticky-chat > div:nth-child(4) {
  background: #E9F3FD;
  border-radius: 10px;
  padding: 1.3rem 2.3rem 1.2rem 2.3rem;
  margin-right: .8rem;
}

@media only screen and (max-width: 600px) {
  footer .sticky-chat > div:nth-child(4) {
    padding: 1.1rem 1.6rem 1.2rem 1.6rem;
  }
}

footer .sticky-chat > div:nth-child(4) i {
  padding-right: 4rem;
}

footer .sticky-chat > div:nth-child(4) svg {
  font-size: 1.6rem;
}

footer .sticky-chat > div:nth-child(4) > span {
  font-size: 1.3rem;
  font-family: Lucida Grande;
  font-style: normal;
  font-weight: bold;
  padding-left: .4rem;
}

footer .sticky-chat > div:nth-child(4) span:last-of-type {
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  footer .sticky-chat > div:nth-child(4) span:nth-of-type(2) {
    display: none;
  }
}

footer .sticky-chat > div:nth-child(5) {
  position: relative;
}

footer .sticky-chat > div:nth-child(5) span:first-of-type {
  font-family: NotoSansGeorgian;
  font-size: 1.3rem !important;
  font-weight: normal;
  position: relative;
  padding: 1.2rem 1.2rem 1.4rem 1.3rem;
  color: #FFFFFF;
  background-color: #017BFF;
  border-radius: 10px;
  margin-right: 2rem;
}

footer .sticky-chat > div:nth-child(5) span:first-of-type::before {
  content: 'ჩატის დახურვა';
}

@media only screen and (max-width: 600px) {
  footer .sticky-chat > div:nth-child(5) span:first-of-type::before {
    display: none;
  }
}

footer .sticky-chat > div:nth-child(5) span:first-of-type::after {
  content: 'ჩატი';
  position: relative;
  display: none;
}

@media only screen and (max-width: 600px) {
  footer .sticky-chat > div:nth-child(5) span:first-of-type::after {
    display: inline;
  }
}

footer .sticky-chat > div:nth-child(5) span:last-of-type {
  position: absolute;
  background-color: #EF5C2E;
  font-size: 0.8rem !important;
  color: #FFFFFF;
  padding: 2px 7px 2px 7px;
  top: -1.5rem;
  left: 11rem;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 0px 4px white;
          box-shadow: 0px 0px 0px 4px white;
}

@media only screen and (max-width: 600px) {
  footer .sticky-chat > div:nth-child(5) span:last-of-type {
    left: 4rem;
  }
}
/*# sourceMappingURL=styles.css.map */